<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- External CSS -->
<link rel="stylesheet" th:href="@{/design/css/bootstrap.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	th:href="@{https://fonts.googleapis.com/earlyaccess/nanumgothic.css}" />

<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/design/css/style.css}" />
<link rel="stylesheet" media="(min-width: 320px) and (max-width: 994px)"
	th:href="@{/design/css/style_mobile.css}" />
<link rel="stylesheet" th:href="@{/design/css/common.css}" />
<link rel="stylesheet" th:href="@{/design/css/style-responsive.css}" />

<!-- JQuery -->
<script th:src="@{/design/js/jquery-2.2.3.min.js}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>

<script th:src="@{/design/js/bootstrap.min.js}"></script>
<script
	src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>


<script th:src="@{/custom/js/common.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/handler.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/user.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/book.js}" charset="utf-8"></script>
<title>home</title>
</head>
<body>
<body>
	<section id="container">
		<!-- start header -->
		<header class="header black-bg">
			<a class="logo" th:href="@{/console}"><b>BOOK-FINDER</b></a>

			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li>
						<p class="nav--username">
							<a th:href="@{/console/authentication/password}"> <i
								class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; <th:block
									th:text="${user.email}"></th:block>
							</a>
						</p>
					</li>
					<li><a class="logout" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</header>
		<!-- end header -->

		<header class="hd_console">
			<div class="title_console"></div>
			<p id="console_name">검색기록</p>
		</header>

		<!-- sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse" tabindex="5000"
				style="overflow: hidden; outline: none;">
				<ul class="sidebar-menu" id="nav-accordion">

					<li class="mgt05"><a th:href="@{/home}"> &nbsp;&nbsp;<i
							class="fa  fa-book" aria-hidden="true"></i><span
							style="font-size: 13px;">책 검색</span>
					</a></li>
					<li class="mgt05"><a th:href="@{/bookmark}">&nbsp;&nbsp;<i
							class="fa fa-bookmark" aria-hidden="true"></i> <span class="fs13">
								북마크</span>
					</a></li>
					<li class="mgt05"><a th:href="@{/history}" class="active">&nbsp;&nbsp;<i
							class="fa fa-history" aria-hidden="true"></i> <span class="fs13">
								검색기록</span>
					</a></li>

				</ul>

			</div>
		</aside>
		<!--sidebar end-->


		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<div class="row mgb20">
					<div class="col-md-12 p10 key__wrapper">

						<div class="col-md-12 p0 ">


							<form th:action="@{/book}" id="search_form">
								<input type="hidden" th:value="${startPage}" id="startPage"
									name="page" /> <input type="hidden" th:value="${sort}"
									id="sort" name="sort" />



								<!-- sort -->
								<div class="col-sm-2">
									<select class="form-control" id="search_sort_select">
										<option value="accuracy" th:selected="accuracy == ${sort}">정확도순</option>
										<option value="recency" th:selected="recency == ${sort}">최신순</option>
										<option value="sales" th:selected="sales == ${sort}">판매량순</option>
									</select>
								</div>

								<div class="col-md-3 p0">


									<!-- search bar -->
									<input type="text" class="form-control input_key" id="keyword"
										name="keyword" th:value="${keyword}" />

									<button class="btn btn_copy copy-text" data-toggle="tooltip"
										type="button" data-original-title="Search" id="search_button">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</div>

							</form>

						</div>
					</div>

					<!-- main list start -->
					<div class="col-md-12 p50">
						<table>
							<colgroup>
								<col width="1500" />
								<col />
							</colgroup>
							<tbody id="book_list_box">

								<tr th:each="book :${documents}">
									<td style="padding-bottom: 15px;"><span class="imgBook">
											<a th:href="${book.thumbnail}" target="_blank"><span></span>
												<img th:src="${book.thumbnail}" width="95" height="138"
												style="float: left; margin-right: 20px" /> </a>
									</span>

										<dl class="cont">
											<dt class="title" style="padding-top: 0">
												<a th:href="${book.url}" target="_blank"><strong
													th:text="${book.title}">곰돌이 푸, 행복한 일은 매일 있어</strong></a>

												<button style="border: 0; margin-left: 5px;"
													onclick="Book.prototype.clickBookmark($(this));">
													<i class="fa fa-bookmark-o" aria-hidden="true"></i>
												</button>
												<input type="hidden" th:value="${book.isbn}" />
											</dt>
											<dd class="info">
												<div class="view" style="margin-bottom: 5px;">
													<strong> <th:block
															th:each="author : ${book.authors}">
															<th:block th:text="${author} ">
															</th:block>
														</th:block>
													</strong>

												</div>
												<div class="view">
													<span th:text="${book.publisher}">알에이치코리아(RHK)</span> <span
														class="fc999">펴냄</span> <span class="bar">|</span> <span
														class="date"
														th:text="${#strings.substring(book.datetime,0,10)}">2018-03-12</span>

												</div>
												<div class="view">
													카테고리 <span th:text="${book.category}">컴퓨터/IT</span>
												</div>
												<div class="view">
													정가 <span style="text-decoration: line-through;"
														th:text="${book.price}">12000</span>원 <strong
														th:text="${book.sale_price}">22500</strong>원
												</div>
											</dd>
											<dd style="margin-top: 5px;">
												<span class="wrap_book_intro">책소개</span> <a
													th:href="${book.url}" target="_blank"
													th:text="${book.contents}">JPA(Java Persistence API)를
													시작하려는 개발자를 위한 입문서 『JPA 프로그래밍 입문』. 엔티티, 밸류에 대한 기본 매핑부터 콜렉션
													매핑까지 핵심 설정 설명하고 쿼리 방식 조회(JPQL...</a>
											</dd>
										</dl></td>
								</tr>


							</tbody>
						</table>

						<div class="col-md-12" align="center">
							<ul id="pagination" class="pagination-sm"></ul>
						</div>

					</div>
					<!-- main list end-->


				</div>
			</section>
		</section>
		<!--main content end-->

		<!--footer start-->
		<footer class="site-footer">
			<div class="text-center">2018 BOOK-FINDER</div>
		</footer>
		<!--footer end-->
	</section>

	<input type="hidden" th:value="${totalPages}" id="totalPages" />
	<input type="hidden" th:value="${user.idx}" id="userIdx" />

</body>
</body>
<script th:src="@{/design/js/jquery.dcjqaccordion.2.7.js}"
	type="text/javascript" class="include"></script>
<script th:src="@{/design/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/design/js/jquery.nicescroll.js}"
	type="text/javascript"></script>
<script th:src="@{/design/js/common-scripts.js}"></script>
<script th:src="@{/design/js/jquery.twbsPagination.min.js}"></script>

<script>
	var startPage = $("#startPage").val();
	var totalPage = $("#totalPages").val();

	if (totalPage != "") {
		$('#pagination').twbsPagination({
			startPage : startPage,
			totalPages : totalPage,
			visiblePages : 10,
			initiateStartPageClick : false,
			onPageClick : function(event, page) {
				var keyword = $('#keyword').val();
				if (!keyword) {
					alert("검색하실 책 정보를 입력해주세요.");
					return false;
				}
				var sort = $("#search_sort_select").val();
				$('#sort').val(sort);

				$("#startPage").val(page);
				$("#search_form").submit();
			}
		});
	}

	$("body").tooltip({
		selector : '[data-toggle=tooltip]'
	});
</script>
</html>