<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- External CSS -->
<link rel="stylesheet" th:href="@{/design/css/bootstrap.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	th:href="@{https://fonts.googleapis.com/earlyaccess/nanumgothic.css}" />

<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/design/css/style.css}" />
<link rel="stylesheet" media="(min-width: 320px) and (max-width: 994px)"
	th:href="@{/design/css/style_mobile.css}" />
<link rel="stylesheet" th:href="@{/design/css/common.css}" />
<link rel="stylesheet" th:href="@{/design/css/style-responsive.css}" />

<!-- JQuery -->
<script th:src="@{/design/js/jquery-2.2.3.min.js}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>

<script th:src="@{/design/js/bootstrap.min.js}"></script>
<script
	src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>


<script th:src="@{/custom/js/common.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/handler.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/user.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/book.js}" charset="utf-8"></script>

<meta id="context-path" th:content="@{/}"/>
<title>history</title>
</head>
<body>
<body>
	<section id="container">
		<!-- start header -->
		<header class="header black-bg">
			<a class="logo" th:href="@{/home}"><b>BOOK-FINDER</b></a>

			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li>
						<p class="nav--username">
							<a th:href="@{/console/authentication/password}"> <i
								class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; <th:block
									th:text="${user.email}"></th:block>
							</a>
						</p>
					</li>
					<li><a class="logout" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</header>
		<!-- end header -->

		<header class="hd_console">
			<div class="title_console"></div>
			<p id="console_name">검색기록</p>
		</header>

		<!-- sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse" tabindex="5000"
				style="overflow: hidden; outline: none;">
				<ul class="sidebar-menu" id="nav-accordion">

					<li class="mgt05"><a th:href="@{/home}"> &nbsp;&nbsp;<i
							class="fa  fa-book" aria-hidden="true"></i><span
							style="font-size: 13px;">책 검색</span>
					</a></li>
					<li class="mgt05"><a th:href="@{/bookmark}">&nbsp;&nbsp;<i
							class="fa fa-bookmark" aria-hidden="true"></i> <span class="fs13">
								북마크</span>
					</a></li>
					<li class="mgt05"><a th:href="@{/history}" class="active">&nbsp;&nbsp;<i
							class="fa fa-history" aria-hidden="true"></i> <span class="fs13">
								검색기록</span>
					</a></li>

				</ul>

			</div>
		</aside>
		<!--sidebar end-->


		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<div class="row mgb20" style="margin-top: 50px;">

					<!-- main list start -->
					<div class="col-md-12 p50">
						<table class="table">

							<thead>
								<tr>
									<th>키워드</th>
									<th>검색시간</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="history : ${historys}">
									<td th:text="${history.keyword}">jpa</td>
									<td th:text="${history.date}">2018-07-14 16:51:03</td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- main list end-->


				</div>
			</section>
		</section>
		<!--main content end-->

		<!--footer start-->
		<footer class="site-footer">
			<div class="text-center">2018 BOOK-FINDER</div>
		</footer>
		<!--footer end-->
	</section>

	<input type="hidden" th:value="${user.idx}" id="userIdx" />

</body>
</body>
<script th:src="@{/design/js/jquery.dcjqaccordion.2.7.js}"
	type="text/javascript" class="include"></script>
<script th:src="@{/design/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/design/js/jquery.nicescroll.js}"
	type="text/javascript"></script>
<script th:src="@{/design/js/common-scripts.js}"></script>
<script th:src="@{/design/js/jquery.twbsPagination.min.js}"></script>

<script>
	var startPage = $("#startPage").val();
	var totalPage = $("#totalPages").val();

	if (totalPage != "") {
		$('#pagination').twbsPagination({
			startPage : startPage,
			totalPages : totalPage,
			visiblePages : 10,
			initiateStartPageClick : false,
			onPageClick : function(event, page) {
				var keyword = $('#keyword').val();
				if (!keyword) {
					alert("검색하실 책 정보를 입력해주세요.");
					return false;
				}
				var sort = $("#search_sort_select").val();
				$('#sort').val(sort);

				$("#startPage").val(page);
				$("#search_form").submit();
			}
		});
	}

	$("body").tooltip({
		selector : '[data-toggle=tooltip]'
	});
</script>
</html>