<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

<!-- css -->
<link rel="stylesheet" th:href="@{/design/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/design/css/style.css}" />
<link rel="stylesheet" media="(min-width: 320px) and (max-width: 480px)"
	th:href="@{/design/css/style_mobile.css}" />
<link rel="stylesheet" th:href="@{/design/css/common.css}" />

<!-- google font api -->
<link
	href="https://fonts.googleapis.com/css?family=Dosis|Ubuntu+Condensed"
	rel="stylesheet" />
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css"
	rel="stylesheet" />

<!-- fontawesome icon -->
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css}" />

<script th:src="@{/design/js/jquery-2.2.3.min.js}"></script>
<script th:src="@{https://code.jquery.com/ui/1.11.4/jquery-ui.min.js}"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
<script th:src="@{/design/js/bootstrap.min.js}"></script>

<title>account</title>
</head>
<body>
	<div id="container"
		style="height: 100vh; position: relative; background: #5C8EFC;">
		<div class="col-md-3 box_reset_pw">
			<div class="reset_pw_title">
				<span class="tada animated block"> <span
					class="reset_password--message"> &nbsp;비밀번호는
						영문(대소문자구분),숫자,특수문자를 <br />혼용하여 8~16자를 입력해주세요.
				</span> <i class="fa fa-lock" aria-hidden="true"></i>
				</span>
			</div>

			<div class="reset_pw_box">
				<div class="p50">
					<div class="col-md-12 reset_pw_box--top">
						<span>비밀번호를 재설정해주세요. </span>
					</div>
					<input type="password" id="new_password"
						class="input_id form-control" placeholder="password" /><br /> <input
						type="password" id="re_password" class="input_id form-control"
						placeholder="repeat password" /> <br />
					<button class="btn btn-block reset_pw--btn"
						id="change_password_button">수정</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#change_password_button').click(function() {
		var message = $('.reset_password--message');
		message.css('visibility', 'visible');
		message.addClass('bounce animated');
	});
</script>
</html>