<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

<!-- css -->
<link rel="stylesheet" th:href="@{/design/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/design/css/style.css}" />
<link rel="stylesheet" media="(min-width: 320px) and (max-width: 480px)"
	th:href="@{/design/css/style_mobile.css}" />
<link rel="stylesheet" th:href="@{/design/css/common.css}" />

<!-- google font api -->
<link
	href="https://fonts.googleapis.com/css?family=Dosis|Ubuntu+Condensed"
	rel="stylesheet" />
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css"
	rel="stylesheet" />

<!-- fontawesome icon -->
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css}" />

<script th:src="@{/design/js/jquery-2.2.3.min.js}"></script>
<script th:src="@{https://code.jquery.com/ui/1.11.4/jquery-ui.min.js}"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
<script th:src="@{/design/js/bootstrap.min.js}"></script>

<script th:src="@{/custom/js/common.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/handler.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/user.js}" charset="utf-8"></script>
<script th:src="@{/custom/js/book.js}" charset="utf-8"></script>
<meta id="context-path" th:content="@{/}"/>
<title>SIGN UP</title>
</head>
<body>
	<div id="container"
		style="height: 100vh; position: relative; background: #5C8EFC;">
		<div class="col-md-3 box_forgot_pw">
			<div class="forgot_pw_title">
				<span class="tada animated block"> <span
					class="forgot_password--message" id="signup_msg"></span> <i
					class="fa fa-lock" aria-hidden="true"></i>
				</span>
			</div>

			<div class="forgot_pw_box">
				<div class="p50">
					<div class="col-md-12 forgot_pw_box--top">
						<span>SIGN UP</span>
					</div>
					<input type="text" id="email" class="input_id form-control"
						placeholder="your e-mail address" /><br /> <input
						type="password" id="password" class="input_pw form-control"
						placeholder="your password" /><br />

					<button class="btn btn-block forgot_pw_send--btn" id="join_button">가입</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>