.pointer {cursor:pointer;}

.fs8 { font-size:8pt; }
.fs9 { font-size:9px; }
.fs10 { font-size:10px; }
.fs11 { font-size:11px; }
.fs12 { font-size:12px; }
.fs13 { font-size:13px; }
.fs14 { font-size:14px; }
.fs15 { font-size:15px; }
.fs16 { font-size:16px; }
.fs17 { font-size:17px; }
.fs18 { font-size:18px; }
.fs20 { font-size:20px; }

.bold { font-weight:bold; }
.normal { font-weight:normal; }

.fl { float:left; }
.fr { float:right; }
.fn { float:none; }

.none {display:none;}
.block {display:block;}
.table_row {display:table-row;}

.L { text-align:Left; }
.C { text-align:center; }
.R { text-align:right; }
.T { vertical-align:top; }
.M { vertical-align:middle; }
.B { vertical-align:bottom; }

/* padding */
.p0 { padding:0px; }
.pt0 { padding-top:0px; }
.pr0 { padding-right:0px; }
.pb0 { padding-bottom:0px; }
.pl0 { padding-left:0px; }

.p01 { padding:1px; }
.pt01 { padding-top:1px; }
.pr01 { padding-right:1px; }
.pb01 { padding-bottom:1px; }
.pl01 { padding-left:1px; }

.p02 { padding:2px; }
.pt02 { padding-top:2px; }
.pr02 { padding-right:2px; }
.pb02 { padding-bottom:2px; }
.pl02 { padding-left:2px; }

.p03 { padding:3px; }
.pt03 { padding-top:3px; }
.pr03 { padding-right:3px; }
.pb03 { padding-bottom:3px; }
.pl03 { padding-left:3px; }

.p05 { padding:5px; }
.pt05 { padding-top:5px; }
.pr05 { padding-right:5px; }
.pb05 { padding-bottom:5px; }
.pl05 { padding-left:5px; }

.p10 { padding:10px; }
.pt10 { padding-top:10px; }
.pr10 { padding-right:10px; }
.pb10 { padding-bottom:10px; }
.pl10 { padding-left:10px; }

.p15 { padding:15px; }
.pt15 { padding-top:15px; }
.pr15 { padding-right:15px; }
.pb15 { padding-bottom:15px; }
.pl15 { padding-left:15px; }

.p20 { padding:20px; }
.pt20 { padding-top:20px; }
.pr20 { padding-right:20px; }
.pb20 { padding-bottom:20px; }
.pl20 { padding-left:20px; }

.p30 { padding:30px; }
.pt30 { padding-top:30px; }
.pr30 { padding-right:30px; }
.pb30 { padding-bottom:30px; }
.pl30 { padding-left:30px; }

.p35 { padding:35px; }
.pt35 { padding-top:35px; }
.pr35 { padding-right:35px; }
.pb35 { padding-bottom:35px; }
.pl35 { padding-left:35px; }

.p40 { padding:40px; }
.pt40 { padding-top:40px; }
.pr40 { padding-right:40px; }
.pb40 { padding-bottom:40px; }
.pl40 { padding-left:40px; }

.p50 { padding:50px; }
.pt50 { padding-top:50px; }
.pr50 { padding-right:50px; }
.pb50 { padding-bottom:50px; }
.pl50 { padding-left:50px; }

.p60 { padding:60px; }
.pt60 { padding-top:60px; }
.pr60 { padding-right:60px; }
.pb60 { padding-bottom:60px; }
.pl60 { padding-left:60px; }

.mg0auto { margin: 0 auto; }

.mgt01 { margin-top:1px; }
.mgr01 { margin-right:1px; }
.mgb01 { margin-bottom:1px; }
.mgl01 { margin-left:1px; }

.mgt02 { margin-top:2px; }
.mgr02 { margin-right:2px; }
.mgb02 { margin-bottom:2px; }
.mgl02 { margin-left:2px; }

.mgt03 { margin-top:3px; }
.mgr03 { margin-right:3px; }
.mgb03 { margin-bottom:3px; }
.mgl03 { margin-left:3px; }

.mgt05 { margin-top:5px; }
.mgr05 { margin-right:5px; }
.mgb05 { margin-bottom:5px; }
.mgl05 { margin-left:5px; }

.mg10 { margin:10px; }
.mgt10 { margin-top:10px; }
.mgr10 { margin-right:10px; }
.mgb10 { margin-bottom:10px; }
.mgl10 { margin-left:10px; }

.mg15 { margin:15px; }
.mgt15 { margin-top:15px; }
.mgr15 { margin-right:15px; }
.mgb15 { margin-bottom:15px; }
.mgl15 { margin-left:15px; }

.mg30 { margin:30px; }
.mgt30 { margin-top:30px; }
.mgr30 { margin-right:30px; }
.mgb30 { margin-bottom:30px; }
.mgl30 { margin-left:30px; }

.mgt18 { margin-top:18px; }

.mgl20 { margin-left:20px; }
.mgb20 { margin-bottom:20px; }
.mgb35 { margin-bottom:35px; }
.mgb40 { margin-bottom:40px; }
.mgt40 { margin-top:40px; }

.mgt50 { margin-top: 50px;}

.w2 { width:20px; }
.w3 { width:30px; }
.w5 { width:50px; }
.w7 { width:70px; }
.w8 { width:80px; }
.w10 { width:100px; }
.w15 { width:150px; }
.w20 { width:15em; }
.w25 { width:250px; }
.w26 { width:240px; }
.w28 { width:280px; }
.w30 { width:300px; }
.w50 { width:500px; }
.w60 { width:600px; }
.w100 { width:1000px; }
.w115 { width:1150px; }
.w_half { width:50%; }

.100vh { min-height: 100vh; }
.center { 
	margin: 0 auto;
	float: none;
	text-align: center;
}
