html{
	font-size:62.5%;
	overlow-webkit-tap-highlight-color:transparent;
	overflow-x: hidden;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #848484;
    background-color: #fff;
    line-height: 1.42857143;
    overflow: auto;
    height: 100%;
    overflow-x: hidden;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    margin-bottom: 0px;
}

/* 상단으로 이동 */
a.top {
    position: absolute;
    right: 4%;
    bottom: 20px;
    display: none;
    width: 35px;
    height: 35px;
    border: 1px solid #e7e8ea;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    transition: opacity .3s linear;
    display: block !important;
    z-index: 10000000;
}

a.top>i {
	color: #5a5a5a; 
	font-size: 20px; 
	margin-top: 6px;
}

/* login */
.login {
	width: 100%;
	position: absolute; 
	margin: 0 auto; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	padding-top: 70px; 
	display: block;
}

#login__wrap {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 90px;
    display: block;
}

.login__checkbox--iskeep label:after {
    content: '';
    width: 10px;
    height: 5px;
    position: absolute;
    top: 9px;
    right: 75px;
    border: 3px solid #636363;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#presentation {
	display: inline-block;
}

.ani_office>img {
    width: 480px;
    margin-top: 2%;
}

.ani_office {
    position: absolute;
    z-index: 3;
    animation-name: ani_office;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    opacity: 1;
    padding: 0;
    margin-left: 0;
    padding-left: 0;
}

.box_intro_1 {
    background-color: #EFEFEF;
    margin: 0 auto;
    height: 435px;
}

/* signup*/
.signupProgress {
    height: 5%;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 70px;
    color: #fff;
    width: auto;
}

.companyListDiv {
    padding-top: 220px;
    width: 100%;
    display: table;
}

.company_box {
    padding: 0px;
    height: 145px;
    border-radius: 5px;
    display: table;
    background: #fff;
    margin: 33px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    width: -webkit-fill-available;
}

#inputInfoDiv, #signupConfirmDiv {
    position: absolute;
    width: -webkit-fill-available;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 210px;
    display: none;
}

/* starter setting info */
.starterSettingInfo__wrapper {
    display: table-cell;
    background: #7871ff;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.starterSettingInfo__greeting {
    color: #fff;
    font-size: 30px;
    font-family: 'Nanum Barun Gothic';
    float: none;
    display: table;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.starterSettingInfo__wrapper--inputInfoBox {
	width: 370px;
}

.search__button--address {
    background: #c2c2c2;
    border: none;
    padding: 10px 7px;
    color: #fff;
    float: left;
}

.starterSettingImage__infomation {
    color: #fff;
    font-size: 30px;
    font-family: 'Nanum Barun Gothic';
    float: none;
    display: table;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#my-dialog {
    display: block;
    position: fixed;
    width: 95%;
    background: #fff;
    z-index: 11000;
    padding: 10px;
    min-height: 343px;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.modal-content {
    border: 1.5px dashed #a9a9a9;
    height: 242px;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    box-shadow: none;
    background: #f7f7f7;
}

.modal-dropzone-img {
    height: 100%;
    width: 100%;
}

.modal-input-file {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    border: 2px dashed #dee3e7;
    height: 246px;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
}

.starterSetting__infomation {
	color: #fff; 
	font-size: 30px; 
	font-family: 'Nanum Barun Gothic'; 
	float: none; 
	display: table; 
	margin: auto; 
	position: absolute; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	padding: 0px; 
	text-align: center; 
	width: 100%;
}

.starterSetting__wrapper {
	display: table-cell; 
	background: #7871ff; 
	width: 100%; 
	padding-top: 0px;
	position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.starterSetting__box {
	padding: 20px 20px 50px 20px;
	width: 100%;
}

.starterSetting--pd {
	padding: 30px 0px 10px 0px !important;
}

.starter_box_clr {
    width: 14.5%;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    padding: 0px;
}

.starterSetting_mg {
	margin-top: 60px !important;
}

.starter_select_clr>.panel_clr:before {
    content: "\f00c";
    color: #fff;
    right: 0;
    left: 4px;
    text-align: center;
    font-size: 15px;
    height: 40px;
    width: 40px;
    position: absolute;
}

.panel_clr {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    float: none;
    text-align: center;
    margin: 0 auto;
}

.starter_select_clr>.panel_clr {
    box-shadow: 3px 3px 10px rgb(127, 127, 127);
    height: 40px;
    width: 40px;
    padding: 10px;
}


.selectNewsBox {
    color: #fff !important;
    background: var(--main-bg-color) !important;
}

.newsBox {
    font-size: 12px;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
    color: #000;
    border-right: 1px solid #efefef;
    background: #EEF0F3;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: pointer;
}

/* header */
.user-menu {
	display: none !important;
}

/* home */
.content_left {
    float: none;
    padding: 50px 0;
    margin: 0 auto;
}

.box_inner_left {
    background: var(--main-bg-color) !important;
    color: #fff;
    height: 250px;
    width: 100%;
    float: none;
    display:table;
}

.box_content {
    background-color: var(--main-bg-color);
    height: 310px !important;
    display: inline;
}

.content_left {
    max-width: 320px;
    float: none;
    padding: 18px 0;
    margin: 0 auto;
    width: 100%;
}

.box_inner_right {
    background-color: #fff;
    width: 100%;
    z-index: 10;
    height: 230px;
    display: table;
    float: none;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: var(--main-bg-color);;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}

.content_right {
    float: left;
    padding: 30px !important;
    width: 100%;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0 !important;
}

/* conferenceTimetable */
.conference_timetable__image {
    position: absolute;
    z-index: 3;
    left: auto;
    float: right;
    margin: 40px;
    right: 0;
}

.conference_timetable__image>img {
    width: 200px;
}

.conference_timetable__animation--move {
    position: absolute;
    z-index: 3;
    left: 10px;
    margin-top: 115px;
    animation-name: conference_timetable__animation--move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    opacity: 1;
}

.conference_timetable__animation--move:hover { animation-iteration-count:infinite }
@keyframes conference_timetable__animation--move{
	0%{top:290px; left: 185px; opacity:0 }
	30%{top:300px; left: 195px; opacity:0 }
	60%{top:300px; left: 195px; opacity:0 }
	100%{top:290px; left: 185px; opacity:0 }
}

.conference_timetable__animation--move>img {
    width: 85px;
}

.conference_timetable__button__wrapper {
    position: absolute;
    width: 260px;
    height: 50px;
    background: #fff;
    z-index: 3;
    top: 600px;
    left: 32px;
}

.intro {
    background-color: #EFEFEF;
    margin: 0 auto;
    height: inherit;
}

.panel {
    background-color: #fff;
    -webkit-box-shadow: none;
    margin: 0 auto;
    min-height: 580px;
    width: 100%;
}

.panel_ex {
    background-color: #fff;
    -webkit-box-shadow: none;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 580px;
    text-align: center;
}

.panel-body_ex {
    padding: 0px;
    margin: 70px auto;
    max-width: 1100px;
    float: left;
    position: relative;
    width: 78%;
}

.fa-angle_style {
    font-size: 70px;
    color: #777;
    font-weight: bold;
    margin-top: 0px;
    position: absolute;
}

.btn_prev {
	min-height: 70px; 
	float: left; 
	padding-left: 0px;
	max-width: inherit;
	z-index: 100000;
	min-width: 8.3%;
}

.btn_next {
    padding-right: 0px;
	min-height: 70px;
	float: left;
	max-width: inherit;
	padding-top: 0;
	z-index: 1000;
	margin-top: 0px;
	display: none;
}

.tutorial__btn_next {
    padding-right: 0px;
    min-height: 70px;
    float: left;
    max-width: inherit;
    padding-top: 0;
    z-index: 1010;
    display: none;
    margin-top: 0px !important;
    right: 13px;
}

.tutorial__btn_next>i {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}

.thumbnail-box-wrapper {
    max-width: 240px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    transition: all 0.3s;
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
}

#calendar__side_navigation {
    height: auto;
    z-index: 3;
    transition: 0.5s;
    padding: 20px 0px;
    border-right: 1px solid #f2f2f2;
}


/* fullcalendar */
.fc button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    height: 2.4em;
    padding: 0 0.3em !important;
    font-size: 1em;
    white-space: nowrap;
    cursor: pointer;
}

.fc-time-grid-container, .fc-time-grid {
    position: relative;
    z-index: 1;
    height: 100% !important;
}

.conference__calendar--all {
    width: 100%;
    height: 100%;
    margin: 30px auto;
    float: none;
}

div.fc-scroller.fc-day-grid-container {
	height: 100% !important;
}

.fc-toolbar .fc-center {
    display: inline-block;
    margin-top: 20px;
}

/* conference */

.sidenav {
    height: 100%;
    z-index: 3;
    transition: 0.5s;
    padding: 30px 0px;
    border-right: 1px solid #f2f2f2;
}

#calendar__navigation_toggle_icon {
    display: inline-block;
    padding: 20px 10px 15px;
    cursor: pointer;
}

.slide_more {
	display: none;
}

.box_panel_btn {
	min-height: 580px;
    padding: 0px;
}

.btn_back {
    padding-top: 0;
    display: inline;
    color: #d4d4d4;
    min-height: 70px;
    float: left;
    max-width: inherit;
    z-index: 1000;
    margin-top: 0px;
    min-width: 11.3%;
    padding-right: 0;
}

.tutorial__btn_back {
    padding-top: 0;
    display: none;
    color: #d4d4d4;
    min-height: 70px;
    float: left;
    max-width: inherit;
    z-index: 1010;
    margin-top: 0px;
    padding-right: 0;
}

.btn_next>.fa-angle_style, .btn_back>.fa-angle_style {
	font-size: 70px;
    color: #777;
    font-weight: bold;
    margin-left: 0px;
}

.tutorial__btn_back>i {
	font-size: 70px;
    color: #fff;
    font-weight: bold;
}

.progress_conference {
    z-index: 4;
    top: 60px;
    -ms-transform: translateX(-0%);
    transform: translateX(-0%);
    -webkit-transform: translateX(-0%);
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity .3s ease;
    margin: 50px 0 50px 0;
}

.nav-tabs>li {
    width: 18%;
    text-align: center;
    margin-top: 25px;
    font-size: 13px;
}

/* conference participants */
.tab-content>.form-group {
	max-width: 100%;
	min-width: 100%;
}

.tab_participants {
    border-bottom: 1px solid #e4e6e8;
    margin-top: 60px !important;
}

.input-search {
    float: right;
    padding: 5px;
    display: table;
    border-collapse: separate;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 60%;
}

.tab-content>.active {
    min-height: 630px;
    background-color: #fff;
    padding: 20px 0px 20px 0px;
    display: block;
}

.card {
    overflow: hidden;
    margin: 15px;
    min-width: calc((100% / 3) - 80px);
    max-width: calc(100%);
    box-sizing: border-box;
    color: #6a737c;
    box-shadow: 0.1em 0.1em 0.1em #c1c1c1;
    background: #fbfbfb;
    border-radius: 5px;
    padding: 0px !important;
}

.box_brain {
    margin-top: 40px;
    padding: 0px;
    height: inherit;
}

.btn, .fc-button, .size-md {
    line-height: 32px;
    height: 34px;
    min-width: 34px;
}

.example-box-wrapper {
	margin-top: 60px !important;
}

.list_brain_mode {
    margin-top: 10px;
    padding: 0 !important;
}

.slide_more {
    margin: 50px auto;
    text-align: center;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    padding: 3px;
    background: #fbfbfb;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #565656;
}

div.btnwrap.is-active.mgt40 {
	margin-top: 0px;
}

.btn_reserve {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0px;
}

.btn_big01 {
	font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0px;
    padding: 25px 40px;
}

/* conferenceInfo */
.file-box-wrapper {
    margin-top: 80px !important;
    margin-bottom: 20px;
    width: 80%;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #888888;
}

div.input-group.date {
	margin-bottom: 10px;
}

.dropdown-menu {
    position: fixed;
    left: 100px !important;
    width: 51%;
    border-radius: 0;
    z-index: 100010 !important;
}

div.col-md-3.input-group.bootstrap-timepicker.timepicker {
	z-index: 999;	
}

div.col-md-12.z_index {
	z-index: 999;
}

.filelist_remove_button {
	z-index: 999;
}

.btn-file-remove {
	z-index: 999;
}

#ui-datepicker-div {
    z-index: 100100 !important;
}

.files .btn span, .files .toggle, .fileupload-buttonbar .toggle {
    display: block;
}

.file_td_p {
	padding-left: 0px;
}

/* conferenceReserveInfo */
.reserveInfo__wrapper {
	margin-top: 40px !important;
	padding: 0; 
}

.reserveInfo__room {
	width: 100% !important;
}

.reserveInfo__content {
	width: 100%;
	padding: 30px; 
	padding-bottom: 80px;
	word-wrap: break-word;
	text-align: left;
}

.reserveInfo__date {
	margin-top: 50px;
	margin-bottom: 50px;
}

.reserveInfo__button--cancel {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    padding: 9px 19px;
    color: #767676;
    border: 1px solid #d3d3d3;
    width: 105px;
    margin-top: 30px;
}

.reserveInfo__popup--cancel {
    position: absolute;
    width: 100%;
    height: 400px;
    margin: -100px auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    border-radius: 3px;
    z-index: 1000010;
    background: var(--brightPointColor);
}

.reserveCancel__button--confirm {
    width: 35%;
    text-align: center;
    float: left;
    border-right: 1px solid #e9e9e9;
    padding: 12px;
    cursor: pointer;
    background: var(--main-bg-color);
    border-radius: 5px;
    color: #fff;
    margin-left: 40px;
    display: table;
}

.reserveCancel__button--cancel {
    width: 35%;
    float: right;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    color: #b9b9b9;
    margin-right: 40px;
    border-radius: 5px;
    background: #fff;
    display: table;
}

.reserveCancel__reason>span {
    font-size: 23px;
    font-family: 'Nanum Pen Script', serif;
}

.files>.template-upload>td {
	padding-left: 20px !important;
}

#move_conference_home {
	margin-bottom: 30px;
    margin-top: -30px;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 65%;
    margin-bottom: -5px;
    margin-left: -80px;
    padding: 7px;
    width: fit-content;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.6);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    z-index: 100;
}

.reserveCancel__back--preview {
    text-align: center;
    z-index: 1100;
    color: #fff;
    position: absolute;
    top: 290px;
    height: 150px;
    margin: 0px auto;
    width: 18%;
    right: 0;
    left: -30px;
}

.reserveCancel__reason__wrapper {
    text-align: center;
    z-index: 1000010;
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: -90px;
    height: 150px;
    margin: 0px auto;
    font-family: "Nanum Gothic", sans-serif;
    width: 100%;
    right: 0;
}

.reserveInfo__brain, .reserveInfo__mode {
    min-height: 260px;
    border-left: none;
    border-top: 1px dashed #d7d7d7;
}

.reserveInfo__brain--item {
    text-align: center;
    display: inline-table;
    margin-top: 20px;
    width: 13%;
}

/* place */
.btn_big {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    color: #000;
    margin-top: 0px;
    border: 1px solid #737373;
    margin-bottom: 30px;
}

div.col-md-12.mgt60 {
	margin-top: 0px !important;
}

/* brain */
.brain__wrapper {
    float: none;
    display: block;
    padding: 0px;
    border: 1px solid #eaeaea;
}

.brain__box {
    height: 100%;
    display: inline-block;
    width: 76%;
}

.brain__wrapper--onlyPower {
    min-height: 150px;
    width: 100%;
}

.brain__wrapper {
    margin: 30px 1px 40px;
    cursor: pointer;
    width: 130%;
}

.brain__switch--isPower {
    background: #fafafa;
    display: table;
    padding: 15px 15px 20px;
    width: 100%;
}

.aircon__slider {
    background: #fff;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.value {
    text-align: center;
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;
    margin: 0px auto;
    letter-spacing: -.07em;
    text-shadow: white 2px 2px 2px;
    color: #595959;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

.box_permit {
    width: 75%;
    height: 300px;
    position: relative;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 15px 20px -12px #717171;
    padding: 0px;
}

/* notice */
.main-wrapper {
    z-index: 800;
    min-height: inherit;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 25px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: left;
}

.noti-box {
    width: 95%;
    margin: 50px auto;
    float: none;
    margin-bottom: 40px;
}

.noti-tr>td {
    cursor: pointer;
    padding: 30px 15px !important;
}

/* inbox */
.timeline-span {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #424242;
    margin-left: 20px;
}

.wrapper_new_inbox {
    margin: 15px auto;
    padding: 0px;
    box-shadow: 1px 1px 5px #c1c1c1;
    float: none;
    display: table;
    background: var(--brightPointColor);
    margin-bottom: 50px;
    width: 100%;
}

.wrapper_read_inbox {
    margin: 15px auto;
    padding: 0px;
    box-shadow: 1px 1px 5px #c1c1c1;
    float: none;
    display: table;
    width: 100%;
}

.wrapper_inbox {
    border-bottom: 2px solid #f6f6f6;
    padding: 10px;
    display: none;
    width: 100%;
}

/* proile setting */
.li_setting {
    border-right: none;
    min-height: inherit;
    padding: 0px 20px 0px 20px;
}

.li_setting>ul>li>a.active {
    font-weight: bold;
    font-size: 17px;
    background: #a8fff4;
}

div.btnwrap.is-active.btnmodify {
	margin-top: 40px;
}

div#chg_profile.content_box.none {
	margin-left: 0px;
}

.profile {
	width: 100%;
    float: none;
    margin: 0 auto;
}

#chg_profile {
	padding-top: 20px;
	padding-left: 0px;
	border: none;
}

#chg_pw {
	margin-top: 60px;
}

#chg_clr {
	margin-top: 60px;
}

#chg_news_topic {
	margin-top: 60px;
}

.popup {
    z-index: 1000000;
    display: none;
    position: absolute;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(36,39,41,0.3);
    background-color: #fff;
    border: solid 1px #fff;
    margin-left: 25px;
}

#my-dialog {
    display: block;
    position: fixed;
    width: 355px;
    background: #fff;
    z-index: 1100000;
    padding: 10px;
    min-height: 355px;
    min-width: 355px;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.modal-content {
    border: 1px dashed #a9a9a9;
    height: 242px;
    border-radius: 3px;
    padding: 15px;
    width: 335px;
    position: relative;
    margin: 0 auto;
    box-shadow: none;
    background: #f7f7f7;
}

.modal-content:hover {
    background: var(--brightPointColor);
    border: 1px dashed var(--main-bg-color);
    height: 245px;
    border-radius: 3px;
    padding: 15px;
    width: 335px;
    position: relative;
    margin: 0 auto;
    box-shadow: none;
}

.modal-dropzone-img {
    height: 100%;
    width: 303px;
}

.chg_profile_title {
	font-size: 13px; 
	width: 85px; 
	padding: 9px;
	text-align: center; 
	vertical-align: middle; 
	color: #999; 
	border-right: 1px solid #efefef; 
	background: #f7f7f7; 
	float: left;
	margin-right: 10px;
	margin-bottom: 14px;
    margin-top: 20px;
}

.div_date {
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	z-index: 100000;
}

.inner_div_date>#birth_year, .inner_div_date>#dateHired_year {
	width: 21%; 
	float: left; 
	background-color: rgb(255, 255, 255); 
	margin-right: 2%;
	margin-top: 20px;
}

.inner_div_date>#birth_month_span, .inner_div_date>#dateHired_month_span {
	float: left; 
	width: 19%;
	margin-top: 20px;
}

.inner_div_date>#birth_day, .inner_div_date>#dateHired_day {
	width: 17%; 
	float: left; 
	background-color: rgb(255, 255, 255);
	margin-top: 20px;
}

.change_padding {
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
}

.change_box_dateHired {
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%
}

.change_box_extension {
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%
}

.change_box_phone {
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%
}

.change_box_phone>#phone_number_1, .change_box_phone>#phone_number_2, .change_box_phone>#phone_number_3 {
	width: 20% !important;
	margin-top: 20px;
}

.change_box_extension>#extensionNumber {
	margin-top: 20px;
}

.change_padding>#address {
	width: 100% !important;
}

.change_box_width>#oldPassword, .change_box_width>#new_password, .change_box_width>#re_password {
	width: 100% !important;
}

.content_box {
    background: #fff;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    border-top: 1px solid #bfbfbf;
    margin-bottom: 30px;
}

.box_clr {
    width: 24.5%;
    cursor: pointer;
    margin-bottom: 25px;
    float: left;
}

.box_setting {
    background: #fff;
    height: 100%;
    padding: 0px;
    overflow: auto;
}

div#chg_profile_img.col-md-12.content_box {
    text-align: left;
}

div.col-md-2.add_chevron_left {
	padding-top: 0px;
}

div.col-md-2.small {
	text-align: left;
}

.box_img_crop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* news topic*/
.boxNewsTopic {
    text-align: center;
    width: fit-content;
    margin-right: 25px;
    float: left;
}

/* staff search */
.card_2 {
    margin: 0 0 40px 0px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    color: #6a737c;
    border-radius: 5px;
    padding: 0px !important;
    float: left;
}

.card_2.is-expanded .card__expander {
    height: 130px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
    padding: 10px;
}

.card_2.is-expanded .card__expander:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: -11px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #5d5e67;
    left: 23%;
}

#users_box {
	margin-bottom: 40px;
}

.card_container {
    width: 70%;
    height: 280px;
    position: relative;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
    margin: 55px auto;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0px 15px 20px -12px #717171;
    padding: 0px;
}

/* inbox */
.timeline>li>.timeline-item {
	-webkit-box-shadow: 3px 3px 4px rgba(31, 31, 31, 0.11);
	box-shadow: 3px 3px 4px rgba(31, 31, 31, 0.11);
	border-radius: 3px;
	margin-top: 0;
	background: #fff;
	color: #444;
	margin-left: 60px;
	margin-right: 15px;
	padding: 10px;
	position: relative;
	padding-top: 20px;
	height: 88px;
	border: 1px solid #f0f0f0;
	display: inline-table;
}

/* conference tutorial */
.tutorial__conference_room--arrow1 {
    position: absolute;
    top: 40px;
    z-index: 1010;
    left: 0px;
    right: 50px;
}

.tutorial__conference_participants--ok {
    position: absolute;
    z-index: 1001;
    right: 10px;
    top: 370px !important;
    pointer-events: auto;
}

.tutorial__conference_participants--arrow1 {
    position: absolute;
    top: 95px;
    z-index: 1010;
    left: 0px;
    right: 150px;
}

.tutorial__conference_participants--arrow1>span {
    position: absolute;
    font-family: 'Nanum Pen Script', serif;
    color: #fff;
    cursor: default;
    font-size: 21px;
    top: -55px;
    left: 0;
    right: 5px;
}

.tutorial__conference_participants--arrow2 {
    position: absolute;
    top: 98px;
    z-index: 1010;
    left: 156px;
    right: 0;
    width: 200px;
}

.tutorial__conference_participants--arrow2>img {
    height: 25px;
    transform: rotate(-235deg);
    -ms-transform: rotate(-235deg);
    -moz-transform: rotate(-235deg);
    -webkit-transform: rotate(-235deg);
    -o-transform: rotate(-235deg);
}

.tutorial__conference_participants--arrow2>span {
    position: absolute;
    font-family: 'Nanum Pen Script', serif;
    color: #fff;
    cursor: default;
    font-size: 21px;
    top: -30px;
    display: block;
}

.tutorial__conference_participants--arrow3 {
    position: absolute;
    top: 245px;
    z-index: 1010;
    left: 170px;
    right: 0;
}

.tutorial__conference_participants--arrow3>img {
    height: 25px;
    transform: rotate(255deg);
    -ms-transform: rotate(255deg);
    -moz-transform: rotate(255deg);
    -webkit-transform: rotate(255deg);
    -o-transform: rotate(255deg);
    margin-left: 50px;
}

.tutorial__conference_participants--arrow3>span {
    position: absolute;
    font-family: 'Nanum Pen Script', serif;
    color: #fff;
    cursor: default;
    font-size: 21px;
    top: 25px;
    display: block;
}

.tutorial__conference_info--arrow1 {
    position: absolute;
    top: 185px;
    z-index: 1010;
    left: -105px;
    width: 100%;
}

.tutorial__conference_info--arrow1>span {
    position: absolute;
    font-family: 'Nanum Pen Script', serif;
    color: #fff;
    cursor: default;
    font-size: 21px;
    top: -10px;
    word-break: keep-all;
    width: 200px;
}