.header {
    left: 0;
    right: 0;
    z-index: 1002;
    padding: 8px;
    display: block;
}

.box_login, .box_forgot_pw {
    float: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -30%;
    bottom: 0;
    width: 90%;
    height: 37%;
    padding: 0;
}

.key__wrapper {
    max-width: 1300px;
    float: none;
    margin-left: 0px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 50px;
    display: table;
    overflow: scroll;
    padding-left: 30px;
}

.key_reissue {
    background: #f2f2f2;
    height: 34px;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    /* float: left; */
    text-align: left;
}

.accountList__wrapper {
    max-width: 95%;
    margin: 0 auto;
    float: none;
    display: table;
    width: 95%;
    margin-top: 130px;
	margin-bottom: 130px;
}

.pw_reset__wrapper {
    max-width: 95%;
    margin-left: 0px;
    margin: 0 auto;
    float: none;
    display: table;
    width: 95%;
    margin-top: 130px;
	margin-bottom: 130px;
}

.pw_reset--input {
	display: block;
    float: left;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #5c5c5c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: 5px;
}

.pw_reset__btn {
    background-color: #68dff0;
    border-color: #68dff0;
    color: #fff;
    padding: 6px 30px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    height: 35px;
    -webkit-transition: -webkit-transform 3s,background-color .5s,color .5s;
    margin-top: 20px;
}

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 3px;
}

.pw_reset__wrapper {
	margin-top: 100px !important;
}

.newPw--input {
    display: block;
    border: none;
    margin: 0 auto;
    float: none;
    width: 100%;
    height: 37px;
    padding: 6px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #5c5c5c;
    background-color: #f9f9f9;
    background-image: none;
    border-bottom: 2px solid #a0a0a0;
    margin-bottom: 10px;
}

.pw_next__btn {
    width: 35%;
    background-color: #5c8efc;
    border-color: #5c8efc;
    color: #fff;
    padding: 9px 12px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    float: none;
    height: 37px;
    -webkit-transition: -webkit-transform 3s,background-color .5s,color .5s;
    margin-top: 30px;
}

.pw_reset--box {
	width:100%;
	float: none; 
	margin: 0 auto;
	display: table;
} 

.account__user--delete {
    display: block;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    height: 35px;
    width: 100%;
    background: #fff;
    color: #999;
    font-size: 12px;
    -webkit-transition: -webkit-transform 5s,background-color .8s,color .8s;
}

.account__user--delete:hover {
	background: #ff717b;
    color: #fff;
}

.account__user>span {
    font-size: 12px;
    color: #000;
    padding-left: 0px;
}

.account__user--type {
    display: block;
    width: 100%;
    height: 35px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #5c5c5c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    cursor: pointer;
}

.accountList__top--title>span {
    font-size: 15px;
    color: #000;
    /*
    border-bottom: 3px solid #5c8efc;
    padding-bottom: 3px;
    width: 28%;
    */
    display: inline-block;
    padding-top: 6px;
}

.accountList__top {
    display: table-row;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.accountList__top--title {
    display: inline;
    margin-top: 8px;
    padding-left: 0px;
}

.accountList__top--search {
    display: inline;
    padding: 0px 0px 10px;
    float: right;
    width: 60%;
}

.accountList__top--search>input {
	font-size: 13px;
	padding: 6px;
}

.search__btn {
    float: left;
    width: 17%;
    height: 35px;
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #cccccc;
    border-radius: 3px;
    border: 1px solid #fff;
}

.hd_console {
	display: none;
}

a.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 0px;
    text-transform: uppercase;
}

.addAccount__popup {
    position: absolute;
    width: 350px;
    margin: 190px auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    border-radius: 5px;
    z-index: 1010;
    background: #fff;
    padding: 0px;
    height: 280px;
}

.addAccount__popup--title {
    padding: 17px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0px;
}

.popup__id--box {
	padding: 0px 20px;
	display: flow-root;
}

.popup__type--box {
	padding: 0px 20px 10px;
	display: flow-root;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 10px;
    margin-left: -80px;
    padding: 7px;
    width: fit-content;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.6);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    z-index: 1000;
}

[data-tooltip]:before, [data-tooltip]:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 100;
    pointer-events: none;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.6);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-bottom: 5px;
}